* {
    margin: 0;
}

header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;

}

.header-title {
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-description {
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.header {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.btn {
    position: absolute;
    margin-top: 20px;

    width: 80px;
    height: 30px;
    right: 0px;

    border-radius: 5px;
    background: #FFF;
    border: none;
}