* {
    margin: 0;
}

header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;

}

.header-title {
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-description {
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.header {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.btn {
    position: absolute;
    margin-top: 20px;

    width: 80px;
    height: 30px;
    right: 0px;

    border-radius: 5px;
    background: #FFF;
    border: none;
}

.btn:hover {
    background-color: red;
    cursor: pointer;
}

.banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h4 {
    color: var(--dark-01, #151414);
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.bannerHead {
    font-size: 40px;
    font-weight: bolder;
}

.bannerP {
    margin-bottom: 5px;
    color: #444343;
    margin-bottom: 15px;
}

.personpic {
    width: 350px;
    height: 500px;
}

.planTitle {
    text-align: center;
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 20px;

}

.plan-title {
    font-size: 25px;
    font-weight: 800;
}

.myplans {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.watchImage {
    width: 100%;
    margin: 20px 20px 20px 20px;

    border-radius: 8px;
    background-image:
        url('../images/gradient1.png'),
        linear-gradient(to bottom 45deg, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),

}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
}

/* footer styles */
footer {
    display: flex;
    gap: 100px;
    background: #151414;
    color: white;
    margin-top: 100px;
    padding: 130px 200px;

}

.info {
    margin-top: 10px;
    margin-bottom: 15px;
}

.social-links a {
    margin-right: 25px;


}

.footer-column {
    width: 50%;
}

input {
    display: block;
    margin: 20px;
}

.subscribe {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

#email {

    width: 200px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #FFF;
}

.btn-subscribe {
    width: 80px;
    height: 30px;


    border-radius: 5px;
    background: #FFF;
    border: none;

}

.btn-subscribe:hover {
    background-color: blue;
    cursor: pointer;

}