* {
    margin: 0;
}

header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;

}

.header-title {
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-description {
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.header {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.btn {
    position: absolute;
    margin-top: 20px;

    width: 80px;
    height: 30px;
    right: 0px;

    border-radius: 5px;
    background: #FFF;
    border: none;
}

.banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h4 {
    color: var(--dark-01, #151414);
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

p {
    margin-bottom: 5px;
}

.personpic {
    width: 350px;
    height: 500px;
}

.planTitle {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;

}

.plan-title {
    font-size: 20px;
}

.myplans {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.watchImage {
    width: 100%;
    margin: 20px 20px 20px 20px;
    background-image: url('../images/gradient1.png');
    border-radius: 8px;
    background: linear-gradient (90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%);

}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
}